.contact-image {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border-radius: 50%;
}

.p-autocomplete .p-inputtext {
  width: 200px;
  border: 0.5px solid #0771de;
  padding: 8px;
  font-size: 7px;
  margin: 0;
}
p-autoComplete[_ngcontent-ng-c3853667835] {
  margin: 0;
}
.search-icon {
  left: 22px;
  font-size: 12px;
  color: #0771de;
}
